
<p>Click the button below to sign in via Dexcom Sandbox</p>

<a href="https://sandbox-api.dexcom.com/v2/oauth2/login?client_id={{dexID}}&redirect_uri={{dexURI}}&response_type=code&scope=offline_access"><button>LOG
    IN</button></a>



<div>

  Return Object will go here
</div>